---
import "../styles/global.css";
import PrizeCard from "../components/PrizeCard";
interface Prize {
  title: string;
  imageUrl: string;
  timeReq: string;
  sortOrder: number;
  description?: string;
}

const prizes = (await import("../../public/prizes.json")).default as Prize[];

const sortedPrizes = prizes.sort((a, b) => a.sortOrder - b.sortOrder);
// i still hate astro
const rawBaseUrl = import.meta.env.BASE_URL;
const baseUrl = rawBaseUrl.endsWith('/') ? rawBaseUrl : `${rawBaseUrl}/`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Race Camp GP</title>
    <meta
      name="description"
      content="You Ship: An F1 Project | We Ship: F1 prizes!"
    />
  </head>

  <body class="bg-neutral-900 text-white flex flex-col items-center">
    <header
      class="relative w-full min-h-screen text-white flex items-center justify-center flex-col gap-2 overflow-hidden"
    >
      <a
        href="https://hackclub.com"
        target="_blank"
        class="absolute top-0 left-4 z-50 w-48 hover:w-64 transition-all duration-300 ease-out"
      >
        <img
          src={`https://assets.hackclub.com/flag-orpheus-top.svg`}
          alt="Hack Club"
          class="w-full"
        />
      </a>

      <video
        class="absolute inset-0 w-full h-full object-cover"
        autoplay
        muted
        loop
        playsinline
        preload="metadata"
      >
        <source src={`${baseUrl}header.mp4`} type="video/mp4" />
      </video>

      <div class="absolute inset-0 bg-black/65"></div>

      <div
        class="relative z-10 text-center flex flex-col gap-4 items-center w-10/12 sm:w-auto"
      >
        <h1 class="text-5xl font-bold">Race Camp GP</h1>
        <hr class="w-full" />
        <p class="font-extralight text-xl">
          You Ship: An F1 Project | We Ship: F1 prizes!
        </p>
        <button class="bg-blue-500 w-1/4 rounded-lg p-2">
          <a
            href="https://forms.fillout.com/t/hPRF3hgi1yus"
            onclick="window.open(this.href, 'rsvpWindow', 'width=600,height=800'); return false;"
          >
            RSVP Here!</a
          >
        </button>
      </div>

      <div
        class="absolute bottom-10 z-10 animate-bounce transition"
        style="font-size: 5rem;"
      >
        ⬇
      </div>
    </header>

    <!-- FAQ section -->
    <div
      class="py-8 flex flex-col w-10/12 lg:w-1/2 text-wrap items-center wrap-break-word"
    >
      <h2 class="text-3xl font-bold text-center mb-4">FAQ</h2>
      <div class="max-w-3xl w-full space-y-6">
        <!-- can I participate -->
        <div class="flex flex-row">
          <div class="flex flex-col">
            <div class="pb-4">
              <h3 class="text-2xl font-semibold underline pb-2">
                Can I participate?
              </h3>
              <p class="w-full">
                If you're between the ages of 13-18 and YSWS eligible, you can
                participate!
              </p>
            </div>
          </div>
          <div class="hidden sm:block pl-18">
            <img
              src={`${baseUrl}rb21.jpg`}
              alt="RB21"
              class="w-48 h-auto rounded-lg shadow-lg"
            />
          </div>
        </div>

        <!-- -->
        <hr class="w-full border-neutral-600" />

        <!-- what are the requirements -->
        <div class="flex flex-row">
          <div class="hidden sm:block pr-18">
            <img
              src={`${baseUrl}amggt4.jpg`}
              alt="RB21"
              class="w-48 h-auto rounded-lg shadow-lg"
            />
          </div>
          <div class="flex flex-col">
            <div class="pb-4 w-lg">
              <h3 class="text-2xl font-semibold underline pb-2">
                What are the requirements?
              </h3>
              <p>
                <ul class="list-disc list-inside">
                  <li>Your project must be F1 related.</li>
                  <li>
                    Your project & source code must be original, no copying!
                  </li>
                  <li>
                    Your code must be open-sourced in a public repository.
                  </li>
                  <li>You must track your coding time with Hackatime.</li>
                  <li>
                    You must be between the ages of 13-18 and YSWS eligible.
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- how do i get started -->
        <hr class="w-full border-neutral-600" />
        <div class="flex flex-row">
          <div class="flex flex-col">
            <div class="pb-4 w-lg">
              <h3 class="text-2xl font-semibold underline pb-2">
                How do I get started?
              </h3>
              <p>
                <ol class="list-decimal list-inside mb-4">
                  <li>
                    Install <a
                      href="https://hackatime.hackclub.com/"
                      class="underline text-blue-500">Hackatime</a
                    > to track your coding time
                  </li>
                  <li>
                    Make a publicly accessible repository for your project, the
                    code must be open-sourced!
                  </li>
                  <li>
                    Start building your F1 related project! Don't forget to
                    commit your changes often.
                  </li>
                  <li>Once finished, submit via this link link here later</li>
                </ol>
              </p>
            </div>
          </div>
          <div class="hidden sm:block pl-18">
            <img
              src={`${baseUrl}bmw.jpg`}
              alt="RB21"
              class="w-48 h-auto rounded-lg shadow-lg"
            />
          </div>
        </div>

        <!-- more questions? -->
        <hr class="w-full border-neutral-600" />
        <div class="flex flex-row">
          <div class="hidden sm:block pr-18">
            <img
              src={`${baseUrl}rp20.jpg`}
              alt="RB21"
              class="w-48 h-auto rounded-lg shadow-lg"
            />
          </div>
          <div class="flex flex-col">
            <div class="pb-4 w-lg">
              <h3 class="text-2xl font-semibold underline pb-2">
                I have more questions!
              </h3>
              <p>
                Feel free to ask questions in the <a
                  href="https://hackclub.enterprise.slack.com/archives/C09MZ097XGC"
                  class="underline text-blue-500"
                  target="_blank">#race-camp-gp</a
                >
                channel on the Hack Club Slack!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="w-full border-neutral-950" />

    <!-- Prizes Section -->

    <div class="py-16 flex flex-col w-11/12 lg:w-3/4 items-center">
      <h2 class="text-4xl font-bold text-center mb-12 text-white">Prizes</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 w-full">
        {
          sortedPrizes.map((prize) => (
            <PrizeCard
              title={prize.title}
              description={prize.description ?? undefined}
              imageUrl={`${baseUrl}${prize.imageUrl.replace(/^\/+/, "")}`}
              timeReq={prize.timeReq}
            />
          ))
        }
      </div>
    </div>

    <!-- footer stuff -->
    <hr class="w-full border-neutral-950" />
    <footer class="w-full py-4 text-center text-sm text-white/50">
      <a
        href="https://github.com/BananaJeanss/race-camp-gp-site"
        class="underline">Source Code</a
      >
      |
      <a href="https://hackclub.com/" class="underline">Hack Club</a>
    </footer>
    <script>
      // if scroll is more than past header we can hide animate-bounce
      window.addEventListener("scroll", () => {
        const bounceArrow = document.querySelector(
          ".animate-bounce"
        ) as HTMLElement;
        if (bounceArrow == null) return;
        if (window.scrollY > 25) {
          bounceArrow.style.opacity = "0";
        } else {
          bounceArrow.style.opacity = "1";
        }
      });

      // easter egg for unmuting the video cause y not
      const expectedKeys = "ilovef1";
      let expectedKeysbutarray = expectedKeys.split("");

      let currentIndex = 0;
      window.addEventListener("keydown", (event) => {
        const key = event.key.toLowerCase();
        if (key === expectedKeysbutarray[currentIndex]) {
          currentIndex++;
          if (currentIndex === expectedKeysbutarray.length) {
            const video = document.querySelector("video") as HTMLVideoElement;
            if (video) {
              video.muted = !video.muted;
            }
            currentIndex = 0; // reset for future use
          }
        } else {
          currentIndex = 0; // reset if wrong key
        }
      });
    </script>
  </body>
</html>
